<!-- 1470x2212 -->
<section class="sidebar col-md-5 col-sm-12" style="left: 0px; background-image: url('{{ site.baseurl }}/assets/site/sidebar.png');">
  <div class="site-info">
    <div class="primary-info">
      <h1><a href="{{site.baseurl}}">{{ site.name }}</a></h1>
      <p>{{ site.resume }}</p>
    </div>
    <div class="secondary-info">
      <p>
        <a class="" href="/feed.xml">Feed</a>
        <i class="link-spacer"></i>
        <a class="" href="mailto:{{ site.email }}" target="_blank">Contato</a>
      </p>
    </div>
  </div>
</section><!-- end sidebar -->
